/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

#chat-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    background-color: #4a90e2;
    color: #fff;
    padding: 1em;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 1.5em;
}

#chat-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#messages {
    padding: 1em;
    overflow-y: auto;
    /* Enable vertical scrolling */
    flex: 1;
    max-height: 75vh;
    font-size: 1.5em;
    /* Adjust based on header and form height */
}

.message {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    border-radius: 10px;
    padding: 0.5em;
    max-width: 80%;
}

.message img {
    max-width: 150px;
    max-height: 150px;
    margin-bottom: 1em;
}

.user-message {
    align-self: flex-end;
    background-color: #e1ffc7;
    float: right;
    /* Align text to the right */
}

.ai-message {
    align-self: flex-start;
    background-color: #f1f1f1;
    clear: right;
    /* Align text to the left */
}

/* List Styling */
ul,
ol {
    margin: 0;
    padding: 0 0 0 20px;
    /* Indent the list items */
    list-style-position: outside;
    /* Display list markers outside */
}

li {
    margin-bottom: 0.5em;
    /* Space between list items */
}

/* Form and Textarea Styling */
form {
    display: flex;
    align-items: center;
    padding: 1em;
    border-top: 1px solid #ddd;
    background-color: #f9f9f9;
}

form .form-group label {
    display: none;
}

#chat-textarea {
    font-size: 1em;
    padding: 0.5em;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 15px;
    resize: none;
    /* Prevent resizing */
    height: 50px;
    /* Set a fixed height */
    overflow: hidden;
    /* Hide overflow */
    line-height: 1.5;
    font-size: 1.5em;
    width: 80vw;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s;
}

#chat-textarea:focus {
    outline: none;
    border-color: #4a90e2;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}

button {
    background-color: #4a90e2;
    color: #fff;
    border: none;
    padding: 0.5em 1em;
    border-radius: 15px;
    cursor: pointer;
    font-size: 2em;
    margin-left: 0.7em;
    flex-shrink: 0;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #357abd;
    transform: translateY(-2px);
}

button:active {
    background-color: #2b6b99;
    transform: translateY(0);
}